@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsla(257, 47%, 61%, 1);
  background: linear-gradient(
    180deg,
    hsla(257, 47%, 61%, 1) 0%,
    hsla(247, 53%, 56%, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    hsla(257, 47%, 61%, 1) 0%,
    hsla(247, 53%, 56%, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    hsla(257, 47%, 61%, 1) 0%,
    hsla(247, 53%, 56%, 1) 100%
  );

  @apply text-text-color;
}
